body{
    padding: 10px 10px 10px 10px;
}
.nav-item{
    font-size: small;
    margin-left: 50px;
}
.d-flex button svg{
   margin-right: 20px;
   height:20px ;
}
#home{
    margin-left: 200px;
}
#navbar{
    background: transparent;
    width: 100%;
    position: relative;
    z-index: 1;
}
.main{
   
    object-fit: cover;
    height: 500px;
    max-width: 1360px;
    background-position: center;
}

.banner1{
    height: 500px;
   width: 100%; 
    object-fit: cover;
    z-index: 0;
    position: relative;  
}
#arow-btn{
    padding-left: 450px;
    padding-top: 40px;
}
#arow-btn button{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    background-color: rgb(155, 75, 1);
    border: 1px solid black;
}
.category{
    margin-top: 80px;
    
}
#heading{
    padding-left: 50px;
}
#cards img{
 height:250px;
 border-radius: 80px ;
 object-fit: cover;
 border: none;
}
.card{
    background-color: rgb(187, 187, 185);
    width:9rem;
    text-align: center;
    border: none;
    
}
#cards{
    margin-left: 20px;
    margin-top: 20px;
}
#banner2{
    margin-top:  50px;
    max-width: 100%;
    align-items: center;
}
#banner2 img{
    margin-left: 20px;
}
#cards img:hover{
    border: 2px solid black;
    
}
#premium{
    margin-top: 50px;
    width: 100%;
}
#head{
    padding-left: 50px;
}
.func{
    border: none;
    background:transparent;
    margin-left: 10px;
}
.func:hover{
    color: rgb(197, 62, 8);
    border-bottom: 1px solid  rgb(197, 62, 8);
}
#features{
    padding-left: 250px;
}
#items{
    margin-top: 80px;
    
}
#square-card img{
    height: 300px;
    border: none;
    width: auto;
    margin-left: 0px;
}
#square-card{
    margin-left: 30px;
    padding: 5px 5px 5px 5px;
    border: none;
}
#square-card:hover{
    zoom: 100.5%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border: 1px  grey;
}
#span{
    text-decoration: line-through;
    color: #aaa;
}
#view-btn button{
 background-color:  rgb(117, 35, 3);
 color: white;
 border: none;
 height: 40px;
 width: 180px;

}
#view-btn{
    padding: 3% 42% 5% 42%;
}
.banner3 img{
    margin-left: 37px;
}
#heading2{
    padding: 3% 0% 3% 4%;
}
#arow-btn2 button{
    height: 40px;
    width: 40px;
    background-color: rgb(155, 75, 1);
    border: 1px solid black;
}
#arow-btn2{
    padding: 3% 0% 3% 40%;
}
#square-card2:hover{
    zoom: 100.5%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border: 1px  grey;
}
#square-card2{
    margin-left: 30px;
    padding: 5px 5px 5px 5px;
    border: none;
    height: 380px;
}
#square-card2 img{
    height: 320px;
    border: none;
    width: auto;
    margin-left: 0px;
}
#items2{
    margin-bottom: 60px;
}
#square-card2 span{
    color: #aaa;
}
.nav-link:hover{
    border-bottom: 1px solid black;
}
#emailinput{
    background-color:#e5c6eb;
    width: 91%;
    margin-left: 3%;
    height: 300px;
    background-position: center;
    text-align: center;
    list-style-position: outside;
    
   
}
.png img{
    height: 300px;
}
.png2 img{
    height: 300px;
}
.input{
    padding-top: 60px;
    position: relative;
}
.input input{
    
    border: 3px solid #fff8f8;
    padding-left: 20px;
    width: 98%;
    margin-left: 1%;
   
    margin-top: 20px;
}
.input button{
    background: transparent;
    right: 35px;
    position: absolute;
    border: none;
    top: 225px;
}
.input input::placeholder{
    color: black;
  
    
} 
.input button:hover{
    color: black;
}
.blog-btn button{
     background-color: #bd1b1b;
     border: none;
     color: white;
     height: 40px;
     width: 180px;
     margin: 10% 0% 10% 90%;
   
}
.blog-heading h2{
    margin: 10% 0% 10% 10%;
}
.blog-btn button:hover{
    border: 2px solid #640101;
    color: #640101;
    background-color: #f7c592;    
}
.blog-img img{
    height: 240px;
    
    object-fit: cover;
}
.blogs{
  
    width: 50%;
  display: flex;
    margin-bottom: 100px;
    
}
.blog-detail{
    background-color: #cecbcb;
    width: 350px;
    height: 240px;
  
    padding: 10px 0px 10px 20px;
    
}
.blog-detail button{
 border: none;
 background-color:#bd1b1b;
 color: white;
 margin-top: 20px;
 margin-left: 10px;
 border-radius: 5px;
 font-size: small;
 height: 30px;
 width: 60x;
 
}
.blog{
   
    display: flex;
    width: 400px;
}
.blog-detail button:hover{
    border: 2px solid #640101;
    color:  #640101;
    background-color: #f7c592;
}
.facilities p{
    font-size: smaller;
    margin-left: 35px;
}
.facilities b{
margin-left: 6px;
}
.facilities{
text-align: center; 
}
.facility{
    margin-bottom: 100px;

}
.footer-links a{
    text-decoration: none;
    color:black;

}
.footer{
    background-color: #dfdfdf;
    margin-left: 250px;
   
}
.footer-items{
    align-items: center;
    padding: 70px 70px 70px 70px;
    font-size: smaller;
    
}
.footer-links a:hover{
    color: #640101;
    border-bottom: 1px solid #640101;
}
.main-footer{
    padding-left: 20px;
}
.copyright-img img{
    height: 10px;
}

.copyright-img a{
    text-decoration: none;
    color: black;
}
.copyright-img a:hover{
    color:#bd1b1b;
    border-bottom:1px solid  #640101;
}
.copyright{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copyright-img{
    margin-left: 300px;
}
.col{
    margin-left: 20px;
}
.social-media img{
    margin-top: 20px;
    height: 30px;
}